#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.jrtc
#*.java
*.class
*.info
*.properties
*.jar

#/1.JavaSyntax/
/2.JavaCore/
/3.JavaMultithreading/
/4.JavaCollections/
/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
/lib/javafx-sdk-18.0.1/legal/javafx.base/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-18.0.1/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-18.0.1/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-18.0.1/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-18.0.1/legal/javafx.media/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-18.0.1/legal/javafx.swing/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-18.0.1/legal/javafx.web/ADDITIONAL_LICENSE_INFO
/lib/javafx-sdk-18.0.1/legal/javafx.base/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-18.0.1/legal/javafx.controls/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-18.0.1/legal/javafx.fxml/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-18.0.1/legal/javafx.graphics/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-18.0.1/legal/javafx.media/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-18.0.1/legal/javafx.swing/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-18.0.1/legal/javafx.web/ASSEMBLY_EXCEPTION
/lib/javafx-sdk-18.0.1/legal/javafx.media/directshow.md
/lib/javafx-sdk-18.0.1/legal/javafx.media/glib.md
/lib/javafx-sdk-18.0.1/legal/javafx.media/gstreamer.md
/lib/javafx-sdk-18.0.1/legal/javafx.web/icu_web.md
/lib/javafx-sdk-18.0.1/legal/javafx.graphics/jpeg_fx.md
/lib/javafx-sdk-18.0.1/lib/libdecora_sse.dylib
/lib/javafx-sdk-18.0.1/legal/javafx.media/libffi.md
/lib/javafx-sdk-18.0.1/lib/libfxplugins.dylib
/lib/javafx-sdk-18.0.1/lib/libglass.dylib
/lib/javafx-sdk-18.0.1/lib/libglib-lite.dylib
/lib/javafx-sdk-18.0.1/lib/libgstreamer-lite.dylib
/lib/javafx-sdk-18.0.1/lib/libjavafx_font.dylib
/lib/javafx-sdk-18.0.1/lib/libjavafx_iio.dylib
/lib/javafx-sdk-18.0.1/lib/libjfxmedia.dylib
/lib/javafx-sdk-18.0.1/lib/libjfxmedia_avf.dylib
/lib/javafx-sdk-18.0.1/lib/libjfxwebkit.dylib
/lib/javafx-sdk-18.0.1/lib/libprism_common.dylib
/lib/javafx-sdk-18.0.1/lib/libprism_es2.dylib
/lib/javafx-sdk-18.0.1/lib/libprism_sw.dylib
/lib/javafx-sdk-18.0.1/legal/javafx.web/libxml2.md
/lib/javafx-sdk-18.0.1/legal/javafx.web/libxslt.md
/lib/javafx-sdk-18.0.1/legal/javafx.base/LICENSE
/lib/javafx-sdk-18.0.1/legal/javafx.controls/LICENSE
/lib/javafx-sdk-18.0.1/legal/javafx.fxml/LICENSE
/lib/javafx-sdk-18.0.1/legal/javafx.graphics/LICENSE
/lib/javafx-sdk-18.0.1/legal/javafx.media/LICENSE
/lib/javafx-sdk-18.0.1/legal/javafx.swing/LICENSE
/lib/javafx-sdk-18.0.1/legal/javafx.web/LICENSE
/lib/javafx-sdk-18.0.1/legal/javafx.graphics/mesa3d.md
/lib/javafx-sdk-18.0.1/src.zip
/lib/javafx-sdk-18.0.1/legal/javafx.web/webkit.md
